.home{
margin-left: 4rem;
width: 100%;
}

.content{
    min-height: 8rem;
    background-color: $color-black;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 10% 65% 25%;
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
    cursor: pointer;

    &-avatar{
        img{
            height: 5rem;
            width: 5rem;
            object-fit: cover;
            border-radius: 1rem;
        }
    }

    &-info{
        display: grid;
        justify-items: left;
        align-content: center;
        padding-left: 4rem;

        &__title{
            font-weight: bold;
            font-size: 1.2rem;
            color: $color-dark-grey;
        }

        &__description{
            margin-bottom: .3rem;
            font-size: .9rem;
            color: $color-grey-b;
        }
        &__tag{
            margin-top: .7rem;
            padding: .5rem .8rem;
            background-color: $color-light-grey;
            border-radius: .4rem;
            color: $color-primary;
            font-size: .8rem;
        }
    }

    &-comment{
        display: grid;
        align-items: center;
        justify-content: flex-end;

        &__number{
            position: relative;
            font-weight: lighter;
            text-decoration: underline;
            color: $color-white;
            cursor: pointer
        }
    }
}

@media screen and (max-width:911px) {
    .home{
       margin-left: 0;
       position: relative;
    }
}

@media screen and (max-width:500px) {
    .content{
      padding: 1.5rem .5rem;
    }
}