
$color-primary: #465FE7;
$color-secondary: #2b2b2b;

$color-grey: #262835;
$color-dark-grey: #ffb900;
$color-light-grey: #F1F5FE;
$color-grey-b: #BABCBD;
$color-grey-c: #D5D4EF;

$color-white: #FFFFFF;
$color-black: #000000;

$color-teal: #E2A0A7


