
$color-primary: #465FE7;
$color-secondary: #AD22E5;

$color-grey: #F7F8FC;
$color-dark-grey: #373E68;
$color-light-grey: #F1F5FE;
$color-grey-b: #BABCBD;
$color-grey-c: #D5D4EF;

$color-white: #FFFFFF;

$color-teal: #E2A0A7


